.main {
    margin-left: 2%;
    color: rgb(221, 175, 175);
}

.news {
    color: rgb(184, 134, 134);
}

.boxmain {
    display: flex;
    margin-left: 10px;
    gap: 20px;
    margin-top: 70PX;
    text-align: center;
    font-style: italic;
    
}

.box1 {
    background-color: rgb(206, 232, 255);
    border: 2px rgb(8, 8, 8) solid;
    width: 300px;
    height: 200px;

}

.box2 {
    background-color: rgb(208, 214, 202);
    border: 2px rgb(8, 8, 8) solid;
    width: 300px;
    height: 200px;
}

.box3 {
    background-color: rgb(240, 237, 234);
    border: 2px rgb(8, 8, 8) solid;
    width: 300px;
    height: 200px;
}

.box4 {
    background-color: rgb(233, 224, 229);
    border: 2px rgb(8, 8, 8) solid;
    width: 300px;
    height: 200px;
}